:root {
    /* DARK */
    --sb-yellow--dark: rgb(253, 181, 21);
    --sb-orange--dark: rgb(229, 75, 33);
    --sb-purple--dark: rgb(112, 0, 75);
    --sb-blue--dark: rgb(0, 127, 164);
    --sb-green--dark: rgb(46, 158, 70);
    --sb-brown--dark: rgb(122, 50, 2);
    /* MEDIUM */
    --sb-yellow--med: rgb(255, 221, 85);
    --sb-orange--med: rgb(246, 148, 114);
    --sb-purple--med: rgb(206, 80, 157);
    --sb-blue--med: rgb(67, 197, 228);
    --sb-green--med: rgb(150, 202, 79);
    --sb-brown--med: rgb(195, 131, 85);
    --sb-grey: #565759;
    --sb-font1: questa-slab, serif;
    --sb-font2: 'questa_slabbold', sans-serif;
    --mini-menu-size: 50px;
}

html {
    min-height: 100vh;
    background-color: black;
}

body {
    font-family: foco, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    background-color: white;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

*, input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--sb-font1), sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    margin-top: 1em;
    color: var(--sb-purple--dark);
}

.order-now {
    height: 120px;
    width: 120px;
    cursor: pointer;
    margin: 0.5em;
    background-color: var(--sb-blue--med);
    border-radius: 100%;
    color: white;
    font-size: 180%;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
}

.scroll-down {
    font-size: 2em;
    margin-top: 2em;
    color: var(--sb-grey);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pulse {
    animation: pulse 1.5s infinite;
    transition: all 0.5s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.location-holder {
    position: absolute;
    visibility: hidden;
    transform: translate(10em, 0em);
    background-blend-mode: exclusion;
    transition: all 0.2s;
    opacity: 0;
    z-index: 80;
    bottom: 28px;
    right: 100px;
    /* height: 0px; */
    display: none;
}

.shown {
    display: block;
    height: auto;
    opacity: 1;
    bottom: 28px;
    right: 100px;
    visibility: visible;
    transform: translate(1em, 0em);
}

.sub-location {
    position: relative;
    margin: 0.25em;
    width: 150px;
    padding: 0.25em;
    background-color: #181818;
    font-size: 1.5em;
    z-index: 80;
    color: var(--sb-yellow--dark);
}

.menu--header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.4s ease;
}

.menu-logo {
    height: auto;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.menu-collapsed {
    height: 70px;
    position: sticky;
    padding: 0.5em;
}

.menu-collapsed>.menu-logo {
    width: 50px;
}

.menu-collapsed>h1 {
    display: none;
}

.menu-collapsed>.scroll-down {
    display: none;
}

section {
    position: relative;
    height: 9vh;
    background-color: #f7f7f7;
    transition: all 0.4s ease;
    border-top: 1px dotted #181818;
    overflow: hidden;
    display: flex;

}

section:last-of-type {
    border-bottom: 1px dotted #181818;
}

.section--header {
    font-family: var(--sb-font1);
    font-size: 150%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;

    cursor: pointer;
}

.section--header>span {
    /* display: none; */
    transform-origin: center;
    transform: translate(40px, -3px);
    font-weight: 600;

    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    line-height: 0;
    font-size: 120%;
}

.section--menucontent {
    visibility: hidden;
    display: none;
    max-width: 550px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    color: var(--sb-grey);
}

.section--menucontent::after {
    height: 50px;
    content: " ";
    display: block;
    background-color: none;
}

.open {
    height: 80vh;
    background-color: #fff;
    overflow: scroll;
}
section.open{
    display: block;
}
.open>.section--header {
    background-color: var(--sb-yellow--dark);
    justify-self: start;
    position: sticky;
    margin-top: 0em;
    /* transition: all 1s ease; */
    height: 55px;
    top: -1px;
    overflow-x: hidden;
}

.open>.section--header>span {
    display: block;
    transform: rotate(45deg) translate(40px, -43px);
    /* overflow-x: hidden; */
}

.open>.section--menucontent {
    visibility: visible;
    display: block;
    /* overflow-x: hidden; */
    padding: 1em;
}

.mini-menu {
    height: var(--mini-menu-size);
    font-size: 80%;
    padding: 0;
}

.mini-menu>.section--header {
    margin: 0;

}

.menu-content--header {
    padding-top: 10px;
    height: 50px;
    position: sticky;
    top: 54px;
    background-color: white;
    font-size: 1.75em;
    font-weight: 800;
    color: var(--sb-purple--dark);
    font-family: var(--sb-font1);
}

/* MENU ITEMS */

article {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-top: 1px dotted grey;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--sb-grey);
}

.menu-item--title {
    font-size: 1.25em;
    font-weight: 800;
}

.menu-item--title>span, .menu-item--description>span {
    margin-left: 2px;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: bottom;
    background-size: contain;
    /* background-color: var(--sb-orange--med); */
}

span.v {
    background-image: url('../assets/img/icon--v.png');
}

span.n {
    background-image: url('../assets/img/icon--n.png');
}

span.gf {
    background-image: url('../assets/img/icon--gf.png');
}

span.s {
    background-image: url('../assets/img/icon--s.png');
}

.menu-item--price {
    margin-top: 10px;
    font-weight: 800;
}

.menu-item--notes {
    margin-top: 0.5em;
    color: rgb(78, 78, 78);
}

.menu-item--notes>span {
    margin-top: 0.5em;
    display: block;
}